:root {
    --dpad-size: 30vw;
    --dpad-btn-long: calc(var(--dpad-size) / 3);
    --dpad-btn-short: calc(var(--dpad-size) / 3);
    --dpad-dimple-size: calc(var(--dpad-btn-short) * 0.5);

    --bg-color: #5563ac;
    --btn-color: #d4d8e3;
    --btn-color-icon: #bdbfcc;
    --btn-down-color: #bdbfcc;
    --btn-down-color-icon: #a0a2af;
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    border: 0;
}

.tpp-app {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: 50px;
    height: 100vh;
    width: 100vw;

    background-color: var(--bg-color);
}

.tpp-btn {
    display: block;
    user-select: none;

    background-color: var(--btn-color);
}
.tpp-btn .tpp-btn-icon {
    display: block;

    text-align: center;
    color: var(--btn-color-icon);
}
.tpp-btn.tpp-btn-down {
    background-color: var(--btn-down-color);
}
.tpp-btn.tpp-btn-down .tpp-btn-icon {
    color: var(--btn-down-color-icon);
}

.tpp-dpad {
    position: relative;
    display: block;

    height: var(--dpad-size);
    width: var(--dpad-size);
}
.tpp-dpad::before {
    content: '';
    position: absolute;

    height: var(--dpad-btn-short);
    width: var(--dpad-btn-short);

    top: calc(50% - (var(--dpad-btn-short) / 2));
    left: calc(50% - (var(--dpad-btn-short) / 2));

    background-color: var(--btn-color);
}
.tpp-dpad::after {
    content: '';
    position: absolute;

    height: var(--dpad-dimple-size);
    width: var(--dpad-dimple-size);

    top: calc(50% - (var(--dpad-dimple-size) / 2));
    left: calc(50% - (var(--dpad-dimple-size) / 2));

    background-color: var(--btn-color-icon);
    border-radius: 100%;
}

.tpp-dpad .tpp-btn {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}
.tpp-dpad .tpp-btn .tpp-btn-icon {
    font-size: calc(var(--dpad-size) / 4);
}

.tpp-dpad .tpp-btn.tpp-dpad-up,
.tpp-dpad .tpp-btn.tpp-dpad-down {
    height: var(--dpad-btn-long);
    width: var(--dpad-btn-short);

    left: calc(50% - (var(--dpad-btn-short) / 2));
}

.tpp-dpad .tpp-btn.tpp-dpad-left,
.tpp-dpad .tpp-btn.tpp-dpad-right {
    height: var(--dpad-btn-short);
    width: var(--dpad-btn-long);

    top: calc(50% - (var(--dpad-btn-short) / 2));
}

.tpp-dpad .tpp-btn.tpp-dpad-up {
    top: 0;
}
.tpp-dpad .tpp-btn.tpp-dpad-down {
    bottom: 0;
}
.tpp-dpad .tpp-btn.tpp-dpad-left {
    left: 0;
}
.tpp-dpad .tpp-btn.tpp-dpad-right {
    right: 0;
}
